*background: #000000
*foreground: #eeeeee

! 0: black
*color0:  #000000
*color8:  #000000
! 1: red
*color1:  #ff00000
*color9:  #ff00000
! 2: green
*color2:  #00c91c
*color10: #00c91c
! 3: yellow
*color3:  #ffff00
*color11: #ffff00
! 4: blue
*color4:  #11aaff
*color12: #11aaff
! 5: magenta
*color5:  #008dff
*color13: #008dff
! 6: cyan
*color6:  #00f7ff
*color14: #00f7ff
! 7: white
*color7:  #eeeeee
*color15: #eeeeee

URxvt*geometry:         80x22  
URxvt*font:            xft:terminus:size=8
URxvt*urlLauncher:         chromium
URxvt*scrollBar:        false
URxvt*scrollBar_right:        true
URxvt*scrollColor:        #000000
